html,
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.container-big {
  width: 1135px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}
