:root {

	--container-wdth: 1110px;
	--border-radius: 30px;

	--font-main: "Montserrat", sans-serif;
	--font-size: 17px;
	--heading-size: 20px;
	--font-weight: 600;
	--medium-weight: 400;

	--black: #000000;
	--purchase: #101010;
	--text-color: #1c1c27;
	--accent-light: #838383;
	--cart-price: #AAAAAA;
	--accent-bright: #ffa542;
	--discount: #FFCE7F;
	--controls: #FFCE7F;
	--page-bg: #eaeaea;
	--white: #ffffff;
}
